/* #region fonts */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* #endregion */

/* #region main-setting-design */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Colors */
:root {
    --main-color: #3751e9;
    --second-color: #393d21;
    --third-color: #f4f755;
    --fourth-color: rgb(197, 53, 9);

    /* Box Shadow */
    --box-shadow: 10px 10px 18px rgba(41, 63, 23, 0.15);
}

section {
    padding: 100px;
}

body {
    /* color: var(--text-color); */
    /* background-image: url(images/background/brown/brown-paper-1.png); */
    background-image: url(images/background/custom/Background.png);
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed;  */
    /* background-size: 100% 100%;  */
}

/* #endregion */

/* #region navbar-design */
nav {
    /* background-image: url(images/background/blue/blue-paper-8.png); */
    background-image: url(images/background/custom/Navbar.png);
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    /* background: #fff; */
    /* background: #3751e9; */
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    z-index: 1000;
    transition: 0.5s;

    box-shadow: var(--box-shadow)
}

.logo {
    /* text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--second-color);
    font-weight: 700; */
    margin-right: auto; 
}

.logo img.logo-img {
    width: 180px;
    height: auto;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

ul {
    display: flex;
}

ul li a {
    padding: 10px 22px;
    color: #fff;
    border-radius: 0.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}

ul li a:hover {
    background: var(--third-color);
    color: #212f3d;
    border: none;
    transition: 0.25s;
}
/* #endregion */

/* #region home-design */
#home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
}

.home-text {
    max-width: 500px;
    margin-right: 20px;
}

.home-text h1 {
    color: var(--second-color);
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    line-height: 5.5rem;
}

.home-text span {
    color: var(--main-color);
}


/* Learn More Button CSS*/
.home-text a {
    padding: 12px 34px;
    background: var(--main-color);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.home-text a:hover {
    background: var(--fourth-color);
    box-shadow: 0 10px 34px rgba(0, 0, 0, 0.14);
    transition: 0.25s;
}

.home-img {
    width: 825px;
    height: 410px;
    margin-left: auto;
    box-shadow: var(--box-shadow);
    border-radius: 55px;
}

.home-img img {
    width: 100%;  /* Fit image to the container's width */
    height: 100%; /* Fit image to the container's height */
    object-fit: cover; /* Ensures proper scaling without distortion */
    /* object-fit: contain; */
    object-position: center;
    border-radius: 55px;
}
/* #endregion*/

/* #region social-design*/
.social {
    position: absolute;
    display: flex;
    bottom: 8%;
    left: 104px;
}

.social i {
    margin-right: 24px;
    font-size: 32px;
    color: var(--second-color);
}

.social i:hover {
    color: var(--main-color);
}

/* #endregion*/

/* #region about-design */

/* heading-design*/
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h2 {
    color: var(--second-color);
    border-bottom: 3px solid var(--second-color);
    font-size: 1.8rem;
}

.heading p {
    color: var(--second-color);
    margin: 0.5rem;
}

#about {
    position: relative;
    width: 100%;
    height: 100vh;
    /* flex-direction: row; */
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

.about-img {
    width: 580px;
    height: 320px;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 55px;
    box-shadow: var(--box-shadow);
}

.about-text {
    width: 500px;
    justify-content: center;
    margin-left: 20px;
}

.about-text h1 {
    font-size: 1.5rem;
    color: var(--second-color);
}

.about-text p {
    color: var(--second-color);
    margin: 5px 0 24px;
    text-align: justify;
    line-height: 1.8rem;
}

.about-text a {
    padding: 12px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-text a:hover {
    background: var(--fourth-color);
    box-shadow: 0 10px 34px rgba(0, 0, 0, 0.14);
    transition: 0.25s;
}

/* #endregion */

/* #region service-design */
.services-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.services-content .box {
    padding: 40px 20px;
    background: var(--second-color);
    color: #fff;
    max-width: 320px;
    margin: 16px;
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow);  
}

.box img {
    height: 45px;
}

.box h1 {
    font-size: 1.3rem;
}

.box p {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
}

.services-content .box:hover {
    transform: translateY(-10px);
    /* background: var(--main-color); */
    background-image: url(images/background/custom/Card.png);
    transition: 0.5s;
    cursor: pointer;
}

/* #endregion */

/* #region work-design */
.work-content {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    align-items: center;
}

.work-text {
    max-width: 500px;
    margin-right: 20px;
}

.work-text h1 {
    font-size: 1.5rem;
    color: var(--second-color);
    line-height: 2.4rem;
    letter-spacing: 0.5px;
}

.work-text p {
    font-size: 1rem;
    color: var(--second-color);
    line-height: 2rem;
    text-align: justify;
    margin: 5px 0 18px;
}

.work-text a {
    padding: 12px 24px;
    background: var(--main-color);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.work-text a:hover {
    background: var(--fourth-color);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.14);
    transition: 0.25s;
}

.work-img {
    width: 580px;
    height: 305px;
}

.work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 55px;
    box-shadow: var(--box-shadow);
}

/* #endregion */

/* #region contact-design */
.heading.color h2 {
    color: #fff;
    border-bottom: 3px solid #fff;
    font-size: 1.8rem;
}

.color p {
    color: #fff;
}

#contact {
    background: var(--second-color);
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-form {
    width: 360px;
    margin-top: 4rem;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    font-size: 13px;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    margin-bottom: 12px;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
    color: var(--second-color);
    letter-spacing: 1px;
}

.contact-form form textarea {
    resize: none;
    height: 200px;
}

.contact-button {
    max-width: 100px;
    font-weight: 600;
    background: var(--main-color);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-button:hover {
    background: var(--fourth-color);
}

/* #endregion */

/* #region app-design */
.app {
    max-width: 360px;
}

.app h1 {
    color: #fff;
    font-size: 1.6rem;
    margin: 5px 0 24px;
}

.app i {
    color: var(--main-color);
    font-size: 45px;
    margin-right: 10px;
}

.app i:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

/* #endregion */

/* #region copyright-design */
.copyright {
    padding: 20px;
    background: var(--second-color);
    color: #fff;
    text-align: center;
}

/* #endregion */

/* #region resposive-design @1024px */
@media (max-width:1024px) {
    nav {
        padding: 10px 50px;
        z-index: 1000;
    }

    .menu {
        position: fixed;
        top: 60px;
        right: 100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: var(--second-color);
        transition: 0.5s ease;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        right: 0;
    }

    nav ul li a {
        font-size: 35px;
        line-height: 80px;
        color: #fff;
    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle.active {
        width: 40px;
        height: 40px;
        background: url(images/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }

    section {
        padding: 80px;
    }

    .home-text h1 {
        font-size: 2.5rem;
        margin-bottom: 1.8rem;
        line-height: 4rem;
    }

    .home-img {
        width: 450px;
        height: 240px;
        margin-left: 1rem;
    }

    .home-img img {
        width: 100%;  /* Fit image to the container's width */
        height: 100%; /* Fit image to the container's height */
        object-fit: cover; /* Ensures proper scaling without distortion */
    }


    .social {
        left: 110px;
    }

    .heading h2 {
        font-size: 1.6rem;
    }

    .about-img {
        width: 450px;
        height: 215px;
        margin-right: 2rem;
    }

    .about-text,
    .work-text {
        width: 400px;
    }

    .about-text h1 {
        font-size: 1.3rem;
    }

    .about-text p {
        line-height: 1.5rem;
    }

    .work-img {
        width: 450px;
        height: 215px;
        margin-left: 2rem;
    }
}

/* #endregion */

/* #region resposive-design @871px, @800px */
@media (max-width: 871px) {
    section {
        padding: 50px;
    }
}

@media (max-width: 800px) {
    section {
        padding: 35px;
    }
}

/* #endregion */

/* #region small-device @600px */
@media (max-width: 600px) {
    section {
        padding: 70px;
    }

    #home {
        flex-direction: column;
    }

    .home-text {
        max-width: 600px;
        margin-top: 2rem;
    }

    .home-img {
        width: 350px;
        height: 185px;
        margin-left: 0rem;
        object-position: center;
    }

    .home-text h1 {
        font-size: 2rem;
        margin-bottom: 1.8rem;
        line-height: 3rem;
    }

    .about-content,
    .work-content {
        flex-direction: column;
    }

    .about-text,
    .work-text {
        max-width: 280px;
    }

    .work-text h1 {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .work-img,
    .about-img {
        width: 350px;
        height: 180px;
        margin-top: 2rem;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    .contact-content {
        flex-direction: column;
    }

    .app {
        margin-top: 4rem;
    }

    .contact-form {
        width: 300px;
    }
}


/* #endregion */